* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#game {
    width:100vw;
    height:100vh;
    overflow: hidden;
    display: flex;
}

.elements  {
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: grey;

    display: flex;
    align-content: start;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    height: 100px;
    border: 1px dotted black;
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}

.image {
    background-image: url("../img/none.jpg");
    background-size: cover;
    background-position:center;
}

.open {
    background-color: aquamarine;
}